body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formulario {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.formulario h1 {
    color: #6C3483;
    margin-bottom: 20px;
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.formulario input[type="submit"] {
    background: #6C3483;
    color: white;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background: #512E5F;
}

.formulario .registrarse {
    margin-top: 15px;
    font-size: 14px;
}

.formulario .registrarse a {
    color: #3498db;
    text-decoration: none;
}

.formulario .registrarse a:hover {
    text-decoration:underline;
}