  body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(to bottom, #59b4ff, #ffaa5c) no-repeat center center fixed;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .formulario {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left;
            width: 400px;
            margin: auto;
            position: relative;
            position: relative;
            z-index: 1;
            margin-top: 20px;
            height: 600px;

        }
        .formulario::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 15%;
            background-color: #000;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            z-index: -1;
        }

        h1 {
        text-align: center;
            color: #fff;
            font-size: 24px;
            margin-bottom: 50px;
        }

        input[type="text"],
        input[type="password"],
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 2px solid #9b9b9b;
            border-radius: 10px;
            outline: none;
            box-sizing: border-box;
        }

        button {
            background-color: #9b9b9b;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #757575;
        }

        .registrarse {
        text-align: center;
            color: #000;
            font-weight: bold;
            font-size: 16px;
        }

        .registrarse a {
            color: #9b9b9b;
            text-decoration: none;
        }

        .registrarse a:hover {
            text-decoration: underline;
        }
  .boton-volver {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #757575;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton-volver:hover {
    background-color: #444;
}