body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #d467ff, #59b4ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.formulario h1 {
    margin-bottom: 20px;
    color: #333;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #8d8d8d;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #8d8d8d;
}
registrarse{
    margin-top: 20px;
  color:#666;
}