{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Agrega cualquier meta o enlaces adicionales aquí -->
</head>
<body>
    <h1>Generar Informe</h1>
    {% if dispositivos %}
        <ul>
            {% for dispositivo in dispositivos %}
                <li>{{ dispositivo.nombre_dispositivo }} - {{ dispositivo.cantidad_dispositivos }} - {{ dispositivo.consumo_hora }} - {{ dispositivo.cantidad_consumo }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay dispositivos registrados.</p>
    {% endif %}
</body>
</html>