{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styleInicio.css' %}">
    <title>Página de Inicio</title>
</head>
<body>
    <div class="container">
        <div class="logoBF"></div>
        <div class="content">
            <h1>¿Qué desea hacer?</h1>
            <div class="buttons">
                <a href="http://127.0.0.1:8000/iniciarSesion/" class="btn">Iniciar Sesión</a>
                <a href="http://127.0.0.1:8000/registro/" class="btn">Registrarse</a>
            </div>
        </div>
            <a href="https://jasiel2023.github.io/" class="about-btn">Acerca de Nosotros</a>
        </div>
    </div>
</body>
</html>