{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
<link rel="stylesheet" href="{% static 'css/styleIS.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var errorMensaje = '{{ error }}';
        if (errorMensaje) {
            Swal.fire({
                icon: 'error',
                title: errorMensaje,
                showConfirmButton: true,
                confirmButtonText: 'Volver a intentar',
                customClass: {
                    title: 'swal-title-sm',
                }
            });
        }
    });
</script>

<body>

    <nav>

    </form>
        <u1>
            <form method="POST">
                <div class="logo"></div>
                <h1>ElectricAnalytics</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button>
            Iniciar Sesion
        </button>
            {% if user.is_authenticated %}
                <li>
                    <a href="/cerrarSesion">Cerrar sesion</a>
                </li>
            {% else %}
                <li class="registro-item">
                    <a href="http://127.0.0.1:8000/registro" class="registro-link">¿Desea registrarse?</a>
                </li>
            {% endif %}
        </u1>
    </nav>

<a href="http://127.0.0.1:8000" class="boton-volver">Volver</a>
</body>

</html>