{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
body.dark-mode {
    background-color: #333 !important;
    color: #fff !important;
}

.custom-switch {
    position: fixed;
    top: 30px;
    left: 50px;
    width: 60px;
    height: 34px;
}

.custom-switch input {
    margin right: 20px;
}

.slider {

    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
        .navbar {

            background-color: #000;
            padding: 30px 0;
            text-align: center;
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
            margin: 0 20px;
            font-size: 16px;
        }

        .welcome-container {
            text-align: center;
            margin: 50px;
        }

                h1 {
            background: linear-gradient(to right, rgba(255, 255, 255, 0), #4285F4, #FFA500, rgba(255, 255, 255, 0));
            -webkit-background-clip: text;
            color: transparent;
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin: 0; /* Elimina el margen predeterminado del h1 */
            padding: 20px; /* Añade espacio alrededor del texto */
        }

        .paragraph {
            color: #555;
            font-size: 18px;
            margin-bottom: 20px;
            text-align: justify;
            margin-top: 20px;
        }

        .instruction {
            font-weight: bold;
        }

        nav {
            margin-top: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            text-align: center;
        }

        li {
            display: inline-block;
            margin-right: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            background-color: #3498db;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #207ab2;
        }

        @media (max-width: 768px) {
            .paragraph {
                font-size: 16px;
            }

            h1 {
                font-size: 24px;
            }

            .btn {
                padding: 8px 16px;
            }
        }
    .notificacion {
        border: 2px solid orange;
        background-color: #FFDDBB;
        color: #333;
        padding: 10px;
        margin: 20px auto;
        border-radius: 5px;
        font-weight: bold;
        width: 80%;
        text-align: center;
    }
.btn_CS{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #757575;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn_CS:hover {
    background-color: #444;
}

  .consulta-box {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 20px auto;
    position: relative;
  }

  #userInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4285F4;
    border-radius: 20px;
    outline: none;
  }

  .lupa-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  #enviarButton {
    display: none; /* Oculta el botón de enviar */
  }
    </style>

    <div class="navbar">
         <label class="custom-switch">
        <input type="checkbox" id="modoSwitch">
        <span class="slider"></span>
    </label>

    <script>
        const modoSwitch = document.getElementById('modoSwitch');

        modoSwitch.addEventListener('change', () => {
            document.body.classList.toggle('dark-mode', modoSwitch.checked);
        });
    </script>
        <a href="http://127.0.0.1:8000/formulario" class="btn">Registro</a>
        <a href="http://127.0.0.1:8000/GenerarInforme" class="btn">Informe</a>
        <a href="http://127.0.0.1:8000/FormularioDeDispositivos" class="btn">Diagramas</a>
    </div>
           <div class="welcome-container">
        <h1>ElectricAnalytics</h1>
<div class="consulta-box">
  <label for="userInput" style="display: none;">Tu consulta:</label>
  <input type="text" id="userInput" placeholder="Tu consulta...">
  <span class="lupa-icon" onclick="enviarConsulta()">&#128269;</span>
  <!-- Botón de enviar (oculto) -->
  <button id="enviarButton">Enviar</button>
</div>
    <div id="respuesta"></div>
<script>
    // Función para verificar el consumo de cada dispositivo y mostrar notificaciones si es excesivo
    function verificarConsumoDispositivos() {
        {% for dispositivo in dispositivos %}
            var totalEnergia = {{ dispositivo.total_energia }};  // Obtén el total de energía del dispositivo
            var nombre = "{{ dispositivo.nombre_dispositivo }}";  // Obtén el nombre del dispositivo

            // Verifica si el consumo es excesivo (puedes ajustar el umbral según tus necesidades)
            if (totalEnergia > 1000) {
                // Agrega un elemento HTML para mostrar la información del dispositivo
                var dispositivoInfo = document.createElement('div');
                dispositivoInfo.className = 'notificacion';
                dispositivoInfo.innerHTML = `Este dispositivo: ${nombre}, esta
                consumiendo: ${totalEnergia} KW lo cual es un exceso de energía. `;

                // Agrega el elemento al cuerpo del documento
                document.body.appendChild(dispositivoInfo);
            }
        {% endfor %}

        // Agrega el elemento al cuerpo del documento
        document.body.appendChild(piePagina);
    }

    // Llama a la función al cargar la página (puedes ajustar esto según tus necesidades)
    window.onload = verificarConsumoDispositivos;
</script>

        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="/cerrarSesion" class="btn_CS">Cerrar Sesión</a>

                    </li>
                {% else %}
                    <li>
                        <a href="http://127.0.0.1:8000/Registro" class="btn">Regístrate</a>
                        <a href="http://127.0.0.1:8000/iniciarSesion" class="btn">Iniciar Sesión</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
