{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .navbar {
            background-color: #3498db;
            padding: 10px 0;
            text-align: center;
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
            margin: 0 20px;
            font-size: 16px;
        }

        .welcome-container {
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #3498db;
        }

        .paragraph {
            color: #555;
            font-size: 18px;
            margin-bottom: 20px;
            text-align: justify;
            margin-top: 20px;
        }

        .instruction {
            font-weight: bold;
        }

        nav {
            margin-top: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            text-align: center;
        }

        li {
            display: inline-block;
            margin-right: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            background-color: #3498db;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #207ab2;
        }

        @media (max-width: 768px) {
            .paragraph {
                font-size: 16px;
            }

            h1 {
                font-size: 24px;
            }

            .btn {
                padding: 8px 16px;
            }
        }
    </style>

    <div class="navbar">
        <a href="#" class="btn">Inicio</a>
        <a href="#" class="btn">Inventario</a>
        <a href="/GenerarInforme" class="btn">Informe</a>
        <a href="#" class="btn">Diagramas</a>
    </div>
           <div class="welcome-container">
        <h1>Bienvenido al Sistema</h1>

        <div class="paragraph">
            Este programa te permitirá calcular el consumo eléctrico de tus dispositivos para verificar y ahorrar la mayor energía posible, contribuyendo de manera efectiva al consumo energético eficiente.
        </div>

        <div class="paragraph instruction">
            Para ello, el programa te permitirá elegir entre diversos dispositivos comunes en los hogares.
        </div>

        <div class="paragraph instruction">
            Después debe seleccionar el dispositivo electrónico del cual deseé tener información.
        </div>

        <div class="paragraph instruction">
            Deberá ingresar las horas que deseas utilizarlo y la cantidad de energía que consume.
        </div>

        <div class="paragraph instruction">
            Una vez completado el formulario, podrá visualizar el consumo estimado de energía para el dispositivo seleccionado.
        </div>


        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="/cerrarSesion" class="btn">Cerrar Sesión</a>

                    </li>
                {% else %}
                    <li>
                        <a href="/Registro" class="btn">Regístrate</a>
                        <a href="/iniciarSesion" class="btn">Iniciar Sesión</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
