{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
</head>

<body>
    <div class="formulario">
        <h1>Registro</h1>
        <form method="post">
            <input type="text" placeholder="Nombre" required>
            <input type="password" placeholder="Contraseña" required>
            <input type="submit" value="Registrar">
            <div class="registrarse">
                ¿Ya tienes una cuenta? <a href="">Inicia sesión</a>
            </div>
        </form>
    </div>
</body>

</html>