{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
</head>
<body>
    <div class="<link>formulario</link>">
        <h1>Registro</h1>
        <form method="post">
            <input type="text" placeholder="Nombre" required><br>
            <input type="text" placeholder="Apellido" required><br>
            <input type="text" placeholder="Dirección" required><br>
            <input type="text" placeholder="Cédula" required><br>
            <input type="password" placeholder="Contraseña" required><br>
            <input type="submit" value="Registrar">
        </form>
        <div class="<link>registrarse</link>">
            ¿Ya tienes una cuenta? <a href=" ">Inicia sesión</a>
        </div>
    </div>
</body>
</html>